{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Dashboard</h1>

    <ul>
        <li><a href="{{ path('admin.user.index') }}">Users</a></li>
    </ul>
{% endblock %}
